.galleryImg {
    height: 200px;
    width: 200px;
    border-radius: 25px;
}

.galleryImgContainer {
    height: 200px;
    width: 200px;
    border-radius: 25px;
    border-bottom: solid black;
    position: absolute;
    margin: auto;
}

.galleryItemContainer {
    border: solid black;
    border-radius: 25px;
    height: 265px;
    width: 200px;
    text-align: center;
}

.imgFooter {
    margin-top: 205px;
}

.spacer {
    margin: auto;
}
.data {
    margin: 20px;
}